html {
  font-family: 'Archivo', sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#app .app-header {
  height: 3rem;
  padding: 0.5rem 0;
}

#app .app-header img {
  display: block;
  margin: 0 auto;
  max-height: 3rem;
}

#app .app-body {
  border-top: 0.1rem solid #E0E0E0;
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  width: 75vw;
}

#app .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}


@media only screen and (max-width: 600px) {
  #app .products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  #app .app-body {
    width: unset;
  }
}

#app .product {
  /* border: 1px solid #eee; */
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#app .product > .product-price {
  margin-top: .5rem;
  font-weight: 600;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 33%;
}

.pagination .page-item {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .page-item.active {
  background-color: #fe5b38;
  color: white;
  border: 1px solid #fe5b38;
}
.pagination .sr-only {
  display: none;
}
.pagination a.page-link {
  text-decoration: none;
}

.pagination .page-item:hover:not(.active) {background-color: #ddd;}


@media only screen and (max-width: 600px)  {
  .item-detail-container {
    flex-direction: column;
  }
}